@media (max-width: $breakpoint-sm) {
    @for $i from 1 through 40 {
        .font_size__#{$i * 5} {
            font-size: #{$i * 3}px;
        }
    }
} 

@media (min-width: $breakpoint-sm) {
    @for $i from 1 through 40 {
        .font_size__#{$i * 5} {
            font-size: #{$i * 3.4}px;
        }
    }
}

@media (min-width: $breakpoint-md) {
    @for $i from 1 through 40 {
        .font_size__#{$i * 5} {
            font-size: #{$i * 3.8}px;
        }
    }

    .about{
        div[class*='box_'] {
            position: relative;
    
            &.box_1 {
                left: -150px;
            }
    
            &.box_2 {
                left: -80px;
            }
    
            &.box_3 {
                left: -200px;
            }
    
            &.box_5 {
                right: -100px;
            }
        }
    }

    .services{
        .col-md-4 {
            .single_col {
                max-height: 500px;
                ul{
                    opacity: 0;
                    @include transition(0.5);
                }
                &:hover{
                    ul{
                        opacity: 1;
                    }
                }
            }
    
            &:nth-of-type(1) {
                padding-top: 100px;
                .single_col {
                    img {
                        right: -150px;
                    }
                }
            }
    
            &:nth-of-type(2) {
                padding-top: 150px;
                .single_col {
                    img {
                        left: -258px;
                    }
                }
            }
    
            &:nth-of-type(3) {
                padding-top: 50px;
                .single_col {
                    img {
                        left: -175px;
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-lg) {
    @for $i from 1 through 40 {
        .font_size__#{$i * 5} {
            font-size: #{$i * 4.2}px;
        }
    }
}

@media (min-width: $breakpoint-xl) {
    @for $i from 1 through 40 {
        .font_size__#{$i * 5} {
            font-size: #{$i * 4.6}px;
        }
    }
}

@media (min-width: $breakpoint-xxl) {
    @for $i from 1 through 40 {
        .font_size__#{$i * 5} {
            font-size: #{$i * 5}px;
        }
    }
}